.Main {
    min-width: 50vw;
    width: calc( 100vw - 500px);
    height: 100vh;
}

.Main-bar {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.Main-btn {
    width: 50px;
    height: 50px;
}

.Main-btn-icon-with-text {
    margin-right: 4px;
}

.Main-bar-end {
    max-width: 150px;
    width: calc( 100vw - 350px);
    text-align: right;
}

.Sidebar {
    max-width: 50vw;
    width: 500px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    color: #707070;
    font-family: 'Source Han Sans', 'Microsoft YaHei UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #e5e5ea;
    overflow-y: auto;
    border-left: #707070 solid 1px;
}

.Sidebar .Card {
    margin: 30px;
    margin-top: 0;
    padding: 25px;
    background: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.5em;
}

.Sidebar .Card h2 {
    font-size: 17px;
    font-weight: bold;
    margin: 0.5em 0;
    padding: 0;
}

.Sidebar .Card ol {
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

.Sidebar .Caption {
    display: block;
    margin: 20px 30px 0 30px;
    font-size: 15px;
    padding: 10px 15px;
}

.Sidebar .Card .switch {
    padding: 0;
    margin: 0;
    margin-top: 15px;
    line-height: 25px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.Sidebar .Card .switch label {
    cursor: pointer;
}

.Sidebar .Card .switch:first-child {
    margin-top: 0;
}

.Sidebar .Card .switch input {
    -webkit-appearance: none;
    height: 22px;
    width: 40px;
    border-radius: 11px;
    border: #e5e5ea solid 1px;
    background: #e5e5ea;
    position: absolute;
    right: 0;
    transition: 0.3s;
    cursor: pointer;
}

.Sidebar .Card .switch input::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #ffffff;
    position: relative;
    transition: 0.3s;
    left: 0;
    cursor: pointer;
}

.Sidebar .Card .switch input:focus {
    outline: none;
}

.Sidebar .Card .switch input:checked {
    background-color: #007aff;
    border-color: #007aff;
}

.Sidebar .Card .switch input:checked:before {
    left: 18px;
}